In [17]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [18]:
pop_file = "Resources/Population Estimates.csv"
pop_file_df = pd.read_csv(pop_file, skiprows=[0])
pop_file_df.head()

,"These data were posted to the ERS website (at https://www.ers.usda.gov/data-products/county-level-data-sets/download-data.aspx) May 2019. Contact: Tim Parker, ERS/USDA, timothy.parker@usda.gov, (202) 694-5435.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148
0,FIPS,State,Area_Name,Rural-urban_Continuum Code_2003,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,...,R_DOMESTIC_MIG_2017,R_DOMESTIC_MIG_2018,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018
1,00000,US,United States,NaN,NaN,NaN,NaN,NaN,"308,745,538","308,758,105",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01000,AL,Alabama,NaN,NaN,NaN,NaN,NaN,"4,779,736","4,780,138",...,0.4,1.2,0.5,1.2,1.6,0.6,0.6,0.8,1.1,1.9
3,01001,AL,Autauga County,2,2,2,2,0,"54,571","54,574",...,1.1,0.7,6.0,-6.1,-3.9,2.0,-1.9,5.3,1.0,0.6
4,01003,AL,Baldwin County,4,3,5,2,5,"182,265","182,264",...,22.0,24.3,16.3,17.6,22.9,20.2,17.9,21.5,22.5,24.8

In [19]:
pop_df = pop_file_df.set_index("These data were posted to the ERS website (at https://www.ers.usda.gov/data-products/county-level-data-sets/download-data.aspx) May 2019. Contact: Tim Parker, ERS/USDA, timothy.parker@usda.gov, (202) 694-5435.")
pop_df.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148
"These data were posted to the ERS website (at https://www.ers.usda.gov/data-products/county-level-data-sets/download-data.aspx) May 2019. Contact: Tim Parker, ERS/USDA, timothy.parker@usda.gov, (202) 694-5435.",,,,,,,,,,,,,,,,,,,,,
FIPS,State,Area_Name,Rural-urban_Continuum Code_2003,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,POP_ESTIMATE_2010,...,R_DOMESTIC_MIG_2017,R_DOMESTIC_MIG_2018,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018
00000,US,United States,NaN,NaN,NaN,NaN,NaN,"308,745,538","308,758,105","309,326,085",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01000,AL,Alabama,NaN,NaN,NaN,NaN,NaN,"4,779,736","4,780,138","4,785,448",...,0.4,1.2,0.5,1.2,1.6,0.6,0.6,0.8,1.1,1.9
01001,AL,Autauga County,2,2,2,2,0,"54,571","54,574","54,754",...,1.1,0.7,6.0,-6.1,-3.9,2.0,-1.9,5.3,1.0,0.6
01003,AL,Baldwin County,4,3,5,2,5,"182,265","182,264","183,111",...,22.0,24.3,16.3,17.6,22.9,20.2,17.9,21.5,22.5,24.8

In [20]:
pop_df = pop_df.dropna(how='all')
pop_df.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148
"These data were posted to the ERS website (at https://www.ers.usda.gov/data-products/county-level-data-sets/download-data.aspx) May 2019. Contact: Tim Parker, ERS/USDA, timothy.parker@usda.gov, (202) 694-5435.",,,,,,,,,,,,,,,,,,,,,
FIPS,State,Area_Name,Rural-urban_Continuum Code_2003,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,POP_ESTIMATE_2010,...,R_DOMESTIC_MIG_2017,R_DOMESTIC_MIG_2018,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018
00000,US,United States,NaN,NaN,NaN,NaN,NaN,"308,745,538","308,758,105","309,326,085",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01000,AL,Alabama,NaN,NaN,NaN,NaN,NaN,"4,779,736","4,780,138","4,785,448",...,0.4,1.2,0.5,1.2,1.6,0.6,0.6,0.8,1.1,1.9
01001,AL,Autauga County,2,2,2,2,0,"54,571","54,574","54,754",...,1.1,0.7,6.0,-6.1,-3.9,2.0,-1.9,5.3,1.0,0.6
01003,AL,Baldwin County,4,3,5,2,5,"182,265","182,264","183,111",...,22.0,24.3,16.3,17.6,22.9,20.2,17.9,21.5,22.5,24.8

In [21]:
pop_df.dtypes

Unnamed: 1      object
Unnamed: 2      object
Unnamed: 3      object
Unnamed: 4      object
Unnamed: 5      object
Unnamed: 6      object
Unnamed: 7      object
Unnamed: 8      object
Unnamed: 9      object
Unnamed: 10     object
Unnamed: 11     object
Unnamed: 12     object
Unnamed: 13     object
Unnamed: 14     object
Unnamed: 15     object
Unnamed: 16     object
Unnamed: 17     object
Unnamed: 18     object
Unnamed: 19     object
Unnamed: 20     object
Unnamed: 21     object
Unnamed: 22     object
Unnamed: 23     object
Unnamed: 24     object
Unnamed: 25     object
Unnamed: 26     object
Unnamed: 27     object
Unnamed: 28     object
Unnamed: 29     object
Unnamed: 30     object
                 ...
Unnamed: 119    object
Unnamed: 120    object
Unnamed: 121    object
Unnamed: 122    object
Unnamed: 123    object
Unnamed: 124    object
Unnamed: 125    object
Unnamed: 126    object
Unnamed: 127    object
Unnamed: 128    object
Unnamed: 129    object
Unnamed: 130    object
Unnamed: 131    object
Unnamed: 132    object
Unnamed: 133    object
Unnamed: 134    object
Unnamed: 135    object
Unnamed: 136    object
Unnamed: 137    object
Unnamed: 138    object
Unnamed: 139    object
Unnamed: 140    object
Unnamed: 141    object
Unnamed: 142    object
Unnamed: 143    object
Unnamed: 144    object
Unnamed: 145    object
Unnamed: 146    object
Unnamed: 147    object
Unnamed: 148    object
Length: 148, dtype: object

In [22]:
pop_df.describe()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148
count,3274,3274,3216,3221,3216,3221,3143,3274,3274,3274,...,3194,3194,3194,3194,3194,3194,3194,3194,3194,3194
unique,54,2008,10,10,13,13,7,3221,3199,3214,...,611,570,501,551,535,529,547,604,605,568
top,TX,Washington County,6,6,2,2,0,"21,720","4,442","6,680",...,-4.2,-2.8,-0.7,-1.2,0.0,0.0,-1.8,-1.9,-3.6,-2.7
freq,255,30,613,597,702,763,1236,3,2,3,...,22,25,31,26,27,31,24,28,25,24

In [ ]:
variable = []
x_axis = np.arange(len(variable))